.navbar-list {
  color: #D0C497;
}

.navbar-li {
  margin: 3px 0;
}

.navbar-btn {
  background-color: #323D48;
  border-radius: 5px;
  border: 1px solid #999999;
  padding: 10px;
  margin-bottom: 10px;
  color: #999999;
}