@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #2A333C;
  margin: 0;
  padding: 0;
}

.App {
  color: #D0C497;
}

h3 {
  color: #E6605F;
}

.list-no-decoration {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  align-items: center;
  width: 350px;
  margin: 20px auto;
  font-family: 'Star Jedi', arial;
  -webkit-text-stroke: 0.5px yellow;
  color: transparent;
}

a {
  text-decoration: none;
}

.arrow-button {
  background-color: #414850;
  border: 1px solid #999999;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: #E6605F;
}